aiohttp==3.9.5
aiohttp-retry==2.8.3
aiosignal==1.3.1
altgraph==0.17.5
anyio==4.6.2.post1
APScheduler==3.6.3
asgiref==3.7.2
attrs==23.2.0
certifi==2024.2.2
cffi==1.16.0
charset-normalizer==3.3.2
cryptography==42.0.5
defusedxml==0.7.1
dj-rest-auth==5.0.2
Django==4.2.7
django-allauth==0.61.1
django-cors-headers==4.3.1
django-etc==1.4.0
django-hitcount==1.3.5
django-modeltranslation==0.19.9
djangorestframework==3.14.0
djangorestframework-simplejwt==5.3.1
drf-spectacular==0.29.0
drf-yasg==1.21.7
frozenlist==1.4.1
h11==0.14.0
httpcore==1.0.7
httpx==0.27.2
idna==3.6
inflection==0.5.1
jsonschema==4.26.0
jsonschema-specifications==2025.9.1
macholib==1.16.4
Markdown==3.7
multidict==6.0.5
oauthlib==3.2.2
packaging==23.2
phonenumbers==8.13.35
pillow==10.2.0
psycopg2-binary==2.9.9
pycparser==2.21
pyinstaller==6.18.0
pyinstaller-hooks-contrib==2026.0
PyJWT==2.8.0
python-decouple==3.8
python-dotenv==1.0.1
python-telegram-bot==21.7
python3-openid==3.2.0
pytz==2024.1
PyYAML==6.0.1
referencing==0.37.0
requests==2.31.0
requests-oauthlib==1.4.0
rpds-py==0.30.0
setuptools==69.1.0
six==1.16.0
sniffio==1.3.1
sqlparse==0.4.4
tornado==6.4.2
twilio==9.0.5
typing_extensions==4.15.0
tzlocal==5.2
uritemplate==4.1.1
urllib3==2.2.1
whitenoise==6.6.0
yarl==1.9.4
